.lp-bts-container {

    margin: 0 auto;
    position: relative;

    @mixin flex($justify-content, $flex-direction, $flex-wrap, $items-align) {
        display: flex;
        justify-content: $justify-content;
        width: 100%;
        flex-direction: $flex-direction;
        flex-wrap: $flex-wrap;
        align-items: $items-align;

    }

    @include flex(center, column, wrap, flex-start);


    a {
        text-decoration: none;
        color: #000;
    }

    p {
        margin: 0;
    }


    .hp-section__title {
        margin-top: 20px;
    }

    .item__title {
        font-family: $Geomanist-BoldItalic;
        color: #000;
        transition: color 300ms ease-in-out;
        text-shadow: 2px 2px #00000085;
    }


    .carousel-container__glider-container,
    .akcesoria__carousel-container,
    .zobacz-rowniez__carousel-container,
    .legginsy__carousel-container{
        overflow: hidden;
    }


    .carousel {
        background-color: #fff;
        position: relative;
        padding: 30px 0;

        .carousel-container__item {
            @include flex(center, column, nowrap, center);

            width: 280px;
            height: 380px;
            background-color: rgb(105, 105, 105);
            text-align: center;
            flex-shrink: 0;

            &:hover {
                .item__title {
                    color: #1283c1;
                }
            }

            .item__title {
                color: #fff;
                font-size: 40px;
            }

        }

        .carousel-container__items {
            @include flex(center, column, nowrap, center);

            width: 280px;
            height: 380px;
            background-color: rgb(105, 105, 105);
            text-align: center;
            flex-shrink: 0;
            background-color: transparent;
            margin: 0 auto;


            .item__title {
                text-shadow: none;
            }

            .item__items {
                width: 100%;
                height: 100%;
                margin: 2px auto;


                &:hover {
                    .item__title {
                        color: #1283c1;
                    }
                }

            }
        }
    }

    .show-more-products {
        @include flex(flex-start, column, nowrap, center);
        font-family: $Roboto-Condensed;
        font-size: 1.25em;
        background-color: #fff;
        font-weight: bold;
        color: #727374;
        text-transform: uppercase;


        a {
            color: #727374;
        }

        &::before {
            content: "";
            width: 95%;
            height: 2px;
            background-color: #efefef;
        }

        .show-more-products__link {
            @include flex(center, row, nowrap, center);
            height: 100px;
            width: 100%;


            a {
                transition: color 300ms ease-in-out;

                &::after {
                    content: "\E007";
                    font-family: $DecathlonCube;
                    padding-left: 8px;
                    font-size: 0.8em;
                }

                &:hover {
                    color: #1283c1;

                }
            }
        }
    }


    .lp-bts-container__kv-section {
        @include flex(center, column, wrap, flex-start);

        .kv-section__main-kv {
            @include flex(center, column, nowrap, center);
            width: 100%;
            height: 400px;
            max-width: 1920px;
            text-align: center;
            color: #fff;

            .dec-text-bg {
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    transform: skew(-13.5deg);
                    background-image: linear-gradient(to right, #1283c1, rgba(18, 131, 193, .5));
                    background-position: 0 100%;
                    background-size: 100%;
                    z-index: -1;
                    transition: all 250ms ease-in-out;
                }
            }


            h1 {
                font-size: 4em;
                text-transform: uppercase;
                font-family: $Geomanist-BoldItalic;
                margin-bottom: 20px;
                position: relative;
                padding: 0 20px;
            }

            p {
                font-family: $Roboto-Condensed;
                max-width: 600px;
                font-size: 1.1em;
                font-weight: 100;
                text-shadow: 2px 2px #00000085;
            }

        }
    }


    .lp-bts-container__video {
        background-color: #fff;

        .video__video-container {
            @include flex(center, row, nowrap, flex-start);
            width: unset;
            margin: 0 15px;


            .video-container__description {
                width: 50%;
                font-family: $Roboto-Condensed;
                font-size: 18px;
                line-height: 2;

            }

            .video-container__video-box {
                width: 50%;
                height: auto;
            }
        }

    }

    .cwicz__carousel-container {
        .carousel-container__item {
            margin: 0 auto;
        }
    }


    .product-categories {
        @include flex(center, row, wrap, flex-start);
        background-color: #fff;

        .product-categories__item {
            @include flex(flex-start, row, nowrap, center);
            width: 280px;
            height: 80px;
            margin: 0 auto;
            background-color: #fff;
            flex-shrink: 0;

            &:hover {
                .item__title {
                    color: #1283c1;
                }
            }

            a {
                @include flex(center, row, nowrap, center);
            }

            img {
                max-width: 55px;
                max-height: 55px;
                margin-right: 20px;
            }

            .item__title {
                font-size: .875em;
                text-shadow: none;
            }

        }
    }


    .suplementy__carousel-container {
        @include flex(center, row, wrap, center);

        .carousel-container__item {
            width: 300px;
        }

        .carousel-container__items {

            a {
                @include flex(center, column, nowrap, center);
                width: 100%;
                height: 100%;

                &::before {
                    content: "";
                    width: 95%;
                    height: 2px;
                    background-color: #efefef;
                }
            }

            img {
                max-width: 55px;
                max-height: 55px;
                margin-right: 20px;
            }

            .item__items {
                @include flex(center, row, nowrap, center);
            }

            p {
                font-size: .875em;
                text-shadow: none;
                color: #000;
            }
        }

    }




    @media (max-width: 1180px) {

        .lp-bts-container__legginsy {
            .legginsy__carousel-container {
                justify-content: flex-start;
            }
        }

        .lp-bts-container__video {
            .video__video-container {
                flex-wrap: wrap;

                .video-container__video-box {
                    padding: 10px 0;
                }

                .video-container__description,
                .video-container__video-box {
                    width: 100%;
                }
            }
        }
    }

}